.page-content {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--background-color); /* Example background color */
}

.ui.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    background: var(--tinted-background-color); /* Example background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.home {
    width: 100%;
}

.first__container {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.second__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tinted-background-color);
}